<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.memo.mapper.MemoMapper">

    <resultMap id="MemoResultMap" type="com.example.memo.entity.Memo">
        <id property="id" column="id" />
        <result property="title" column="title" />
        <result property="detail" column="detail" />
        <result property="createdAt" column="created_at" />
        <result property="updatedAt" column="updated_at" />
    </resultMap>

    <select id="findAll" resultMap="MemoResultMap">
        SELECT id, title, detail, created_at, updated_at FROM memo ORDER BY id
    </select>

    <select id="findById" resultMap="MemoResultMap">
        SELECT id, title, detail, created_at, updated_at FROM memo 
        WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="com.example.memo.entity.Memo">
        INSERT INTO memo (title, detail, created_at, updated_at)
        VALUES (#{title}, #{detail}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
    </insert>

    <update id="update" parameterType="com.example.memo.entity.Memo">
        UPDATE memo 
        SET title = #{title},
            detail = #{detail},
            updated_at = CURRENT_TIMESTAMP
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM memo WHERE id = #{id}
    </delete>

</mapper>